{% extends 'parents/base.html' %}
{% block title %} post list {% endblock %}
{% block content %}
    <h1> post list </h1>
<form method="get">
    {{ form.q }}
    {{ form.type }}
    <button type="submit">
        Search
    </button>
</form>
{% if error %}
    <p>{{ error }}</p>
{% endif %}
<hr>
    {% for post in posts %}
        <h2>
            <a href="{{post.get_absolute_url}}">{{post.title}}</a>
            <h2>
                <p>{{ post.description | truncatewords:4 }}</p>
                <p> {{ post.get_absolute_url }} </p>
    {% endfor %}
{% include "Partials/Paginations.html" with page=posts  %}
                
{% endblock %}